{{#_admin}}

<div class="row">
	<div class="col s12">
		<h1>
			<small><a href="{{ paths.INDICATOR_LIST_URI }}">{{#m}}indicators.title{{/m}}</a> /</small>
			<br>
			<a href="{{ paths.INDICATOR_URI }}{{ indicator.id }}">{{ indicator.name }}</a>
		</h1>
	</div>
</div>

<div class="divider"></div>

<form action="{{ indicator.id }}" method="post">
	<input name="_csrf" type="hidden" value="{{ _csrf.token }}"/>
	<div class="row section">
		<div class="col s12">
			<h3 class="center">{{#m}}admin.indicator.delete.confirm{{/m}}</h3>
		</div>
	</div>
	<div class="row section">
		<div class="col s12 m6 center">
			<br>
			<button class="btn-large red waves-effect waves-light" type="submit" name="action">
				{{#m}}admin.indicator.delete.yes{{/m}}
			</button>
		</div>
		<div class="col s12 m6 center">
			<br>
			<a href="{{ paths.INDICATOR_URI }}{{ indicator.id }}" class="btn-large blue waves-effect waves-light">
				{{#m}}admin.indicator.delete.no{{/m}}
			</a>
		</div>
	</div>
</form>

{{/_admin}}
{{>_layouts/admin}}